<!DOCTYPE html>
<html lang="en">
	<style>
		table.type02 {
			border-collapse: separate;
			border-spacing: 0;
			text-align: center;
			line-height: 1.5;
			border-top: 1px solid #ccc;
			border-left: 1px solid #ccc;
			  width: 80%;
			 margin : auto;
			 border-radius: 4px;
		}
		table.type02 th {
			width: 150px;
			padding: 10px;
			font-weight: bold;
			text-align: center;
			vertical-align: top;
			border-right: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			border-top: 1px solid #fff;
			border-left: 1px solid #fff;
			background: #eee;
			border-radius: 4px;
		}
		table.type02 td {
			width: 350px;
			padding: 10px;
			vertical-align: center;
			border-right: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			border-radius: 4px;
		}
	</style>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>셀폰 - 중고 휴대폰 개인 거래</title>

 		<!-- Google font -->
 		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

 		<!-- Bootstrap -->
 		<link type="text/css" rel="stylesheet" href="/electro/css/bootstrap.min.css"/>

 		<!-- Slick -->
 		<link type="text/css" rel="stylesheet" href="/electro/css/slick.css"/>
 		<link type="text/css" rel="stylesheet" href="/electro/css/slick-theme.css"/>

 		<!-- nouislider -->
 		<link type="text/css" rel="stylesheet" href="/electro/css/nouislider.min.css"/>

 		<!-- Font Awesome Icon -->
 		<link rel="stylesheet" href="/electro/css/font-awesome.min.css">

 		<!-- Custom stlylesheet -->
 		<link type="text/css" rel="stylesheet" href="/electro/css/style.css"/>

    </head>
	<body>
		<!-- HEADER -->
		<header>
			<!-- TOP HEADER -->
			<div id="top-header">
				<div class="container">
					<ul class="header-links pull-left">
						<li><div style="color:white">셀폰 - 중고 휴대폰 개인 거래</div></li>
					</ul>
					<ul class="header-links pull-right">
						<% if( user == null) { %>
							<li><a href="/sellphone/login">로그인</a></li>
							<li><a href="/ask_list">문의사항</a></li>
						<% } else { %>
							<form action="/sellphone/logout" method="post">
								<li><button style="border:0; outline:0; background-color: #1E1F29;color:white;" type = "submit">로그아웃</button></li>
								<li><a href="/ask_list">문의사항</a></li>
							</form>
						<% } %>	
               </ul>
				</div>
			</div>
			<!-- /TOP HEADER -->

			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">
								<a href="/sellphone/home" class="logo">
									<img src="/electro/img/my_logo.png" alt="">
								</a>
							</div>
						</div>
						<!-- /LOGO -->

						<!-- SEARCH BAR -->
						<div class="col-md-6">
							<div class="header-search">
								<form>
									<select class="input-select">
										<option value="0">Sell Phone</option>
										<option value="1">Category 01</option>
										<option value="1">Category 02</option>
									</select>
									<input class="input" placeholder="HnB">
									<button class="search-btn">Search</button>
								</form>
							</div>
						</div>
						<!-- /SEARCH BAR -->

						<!-- ACCOUNT -->
						<div class="col-md-3 clearfix">
							<div class="header-ctn">
								<!-- Wishlist -->
								<div>
									<% if( user == null) { %>
										<a href="/sellphone/login">
											<i class="fa fa-pencil-square-o"></i>
											<span>상품등록</span>
										</a>
									<% } else if(user!=null && user[0].customer_kind == 1) { %>
									
											<a href="/sellphone/member_manage">
												<i class="fa fa-users"></i>
												<span>회원관리</span>
											</a>
										
									<% } else { %>
										<a href="/sellphone/sell">
											<i class="fa fa-pencil-square-o"></i>
											<span>상품등록</span>
										</a>
									<% } %>
								</div>
								<!-- /Wishlist -->



								<!-- MYPAGE -->
								<div>
								
									<% if( user == null) { %>
										<a href="/sellphone/login" class="dropdown-toggle" aria-expanded="true">  <!-- data-toggle="dropdown"-->
											<i class="fa fa-user-o"></i>
											<span>마이페이지</span>
										</a>
									<% } else if(user!=null && user[0].customer_kind == 1) { %>
								
										<a href="/sellphone/ask_list">
											<i class="fa fa-question-circle-o"></i>
											<span>문의사항</span>
										</a>
									<% } else { %>
										<a href="/sellphone/mypage" class="dropdown-toggle" aria-expanded="true">  <!-- data-toggle="dropdown"-->
											<i class="fa fa-user-o"></i>
											<span>마이페이지</span>
										</a>
									<% } %>
								</div>
								<!-- /MYPAGE -->
						
								<!-- Menu Toogle -->
								<div class="menu-toggle">
									<a href="#">
										<i class="fa fa-bars"></i>
										<span>Menu</span>
									</a>
								</div>
								<!-- /Menu Toogle -->
							</div>
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<nav id="navigation">

		</nav>
		<!-- /NAVIGATION -->

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">회원관리</h3>
						<ul class="breadcrumb-tree">
							<li><a href="/sellphone/home">Home</a></li>
							<li class="active">회원관리</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

			<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-13">						
						<table class="type02">
							<thead>
							   <tr>
								  <th scope="cols">회원 ID</th>
								  <th scope="cols">회원 Email</th>
								  <th scope="cols">회원 Phone</th>
								  <th scope="cols">회원 Point</th>
								  <th scope="cols">회원 Score</th>
								  <th>ID 정지</th>
								  <th>정지 해제</th>
								  <th scope="cols">회원 상태</th>
							   </tr>
							</thead>
							<% for(var i = 0; i < user.length; i++) {
								if(user[i].customer_kind == 1) continue;
								var sumreview = user[i].customer_star5+user[i].customer_star4+user[i].customer_star3+user[i].customer_star2+user[i].customer_star1;
								var sumstar = (user[i].customer_star5 * 5) + (user[i].customer_star4 * 4) + (user[i].customer_star3 * 3) + (user[i].customer_star2 * 2) + (user[i].customer_star1 * 1);
								var average;
								if(sumreview != 0) average = sumstar/sumreview; 
								else average = 0;
							%>
								<tr>
									
										<td><a href="/sellphone/member_mypage/<%= user[i].customer_id %>"><%= user[i].customer_id %></a></td> 
										<td><%= user[i].customer_email %></td>
										<td><%= user[i].customer_phone %></td>
										<td><%= user[i].customer_wallet %></td>
										<td><%= average.toFixed(1) %></td>
										<form action="/sellphone/idstop/<%= user[i].customer_id %>" method="post">
										<td><button style="
											border: 2px solid transparent;
											height: 25px;
											padding: 0 20px;
											background-color: #ef233c;
											color: #FFF;
											text-transform: uppercase;
											font-weight: 700;
											border-radius: 35px;
											-webkit-transition: 0.2s all;
											transition: 0.2s all;" onclick="idstop()">정지</button></td>
										</form>
										<form action="/sellphone/stopcancel/<%= user[i].customer_id %>" method="post">
										<td><button style="
											border: 2px solid transparent;
											height: 25px;
											padding: 0 20px;
											background-color: #bdbdbd;
											color: #FFF;
											text-transform: uppercase;
											font-weight: 700;
											border-radius: 35px;
											-webkit-transition: 0.2s all;
											transition: 0.2s all;" onclick="stopcancel()">해제</button></td>
										</form>
										<td>
											<% if(user[i].customer_kind == 0) { %>
												사용
											<% } else { %>
												정지
											<% } %>
										</td>
								</tr>
						 	<% } %>
					  	</table>
					</div>


				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
									


	<!-- FOOTER -->
	<footer id="footer">
		<!-- top footer -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">About Us</h3>
							<ul class="footer-links">
								<li><a href="#"><i class="fa fa-map-marker"></i>Seoul, Korea</a></li>
								<li><a href="#"><i class="fa fa-phone"></i>02-0000-0000</a></li>
								<li><a href="#"><i class="fa fa-envelope-o"></i>HnB@gmail.com</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Categories</h3>
							<ul class="footer-links">
								<li><a href="/sellphone/search/?q=&page=1&category=Samsung&order=date">Samsung</a></li>
								<li><a href="/sellphone/search/?q=&page=1&category=Apple&order=date">Apple</a></li>
								<li><a href="/sellphone/search/?q=&page=1&category=LG&order=date">LG</a></li>
								<li><a href="/sellphone/search/?q=&page=1&category=기타&order=date">ETC</a></li>
							</ul>
						</div>
					</div>

					<div class="clearfix visible-xs"></div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Service</h3>
							<ul class="footer-links">
								<li><a href="/intro">사이트 소개</a></li>
								<li><a href="/announcement">공지사항</a></li>
								<li><a href="/ask_list">문의사항</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">My Menu</h3>
							<ul class="footer-links">
								<% if( user == null) { %>
									<li><a href="/sellphone/login" class="dropdown-toggle" aria-expanded="true">마이페이지</a></li>  <!-- data-toggle="dropdown"-->
									<li><a href="/sellphone/login" class="dropdown-toggle" aria-expanded="true">상품등록</a></li>  <!-- data-toggle="dropdown"-->
								<% } else if(user!=null && user[0].customer_kind == 1) { %>
									<li><a href="/sellphone/member_manage">회원관리</a></li>
									<li><a href="/sellphone/ask_list">문의사항</a></li>
								<% } else { %>
									<li><a href="/sellphone/mypage" class="dropdown-toggle" aria-expanded="true">마이페이지</a></li>  <!-- data-toggle="dropdown"-->
									<li><a href="/sellphone/sell" class="dropdown-toggle" aria-expanded="true">상품등록</a></li>  <!-- data-toggle="dropdown"-->
								<% } %>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /top footer -->

		<!-- bottom footer -->
		<div id="bottom-footer" class="section">
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12 text-center">
						<span class="copyright">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy HnB
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</span>
					</div>
				</div>
					<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /bottom footer -->
	</footer>
	<!-- /FOOTER -->
		<!-- jQuery Plugins -->
		<script src="/electro/js/jquery.min.js"></script>
		<script src="/electro/js/bootstrap.min.js"></script>
		<script src="/electro/js/slick.min.js"></script>
		<script src="/electro/js/nouislider.min.js"></script>
		<script src="/electro/js/jquery.zoom.min.js"></script>
		<script src="/electro/js/main.js"></script>
		<script>
			function idstop(){
				alert("회원의 계정이 잠금되었습니다.");	
			}
		</script>
		<script>
			function stopcancel(){
				alert("회원의 계정의 잠금이 해제되었습니다.");	
			}
		</script>

	</body>
</html>
